*{
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row, .col{
	padding: 0 !important;
}
.banner
{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
